* {
  margin: 0;
  padding: 0;
}

img {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  line-height: 1.8;
  font-size:16px;
  word-break: keep-all;
}